.btnDD {
  background-color: white;
  color: black;
  margin: 1px 1px 1px 1px;
}
.divRTSkinMain {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 95%;
}
.divRTSkinDD {
  display: none;
  position: absolute;
  left: 0px;
  top: 24px;
}